<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <h1>Copy product URL</h1>
      <form action="/" method="post">
        <input type="text" class="form-control" aria-label="ProductUrl" name="url" placeholder="for example paste a URL like, http://www.flipkart.com/mi-4i/p/itme8cuyyqdwek9m">
      </form> 
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% if ( typeof data != 'undefined'  ) { %>
        <h2><%= JSON.stringify(data) %></h2>
      <% } %>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <h5>Copyright © 2015 Winster. All rights reserved</h5>
  </div>
</footer>

</body>
</html>
